* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0e0e0;
}

.game {
  width: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genius {
  display: grid;
  grid-template-areas: "verde verm" "am az";
  gap: 10px;
  background-color: #fff;
  border: 1rem solid white;
  margin: 2rem 0 0 0;
  border-radius: 100%;
  width: 700px;
  height: 700px;
  overflow: hidden;
}

.az,
.am,
.verm,
.verde {
  cursor: pointer;
}

.az {
  grid-area: az;
  background-color: rgb(56, 56, 196);
}

.verm {
  grid-area: verm;
  background-color: crimson;
}

.am {
  grid-area: am;
  background-color: rgb(228, 175, 42);
}

.verde {
  grid-area: verde;
  background-color: darkgreen;
}

.selected {
  opacity: 0.8;
}

.start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.start-game-btn {
  padding: 1rem 4rem;
  font-size: larger;
  border-style: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 12px 12px 23px #969696, -12px -12px 23px #ffffff;
}

.start-game-btn:hover {
  border-radius: 12px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 12px 12px 23px #969696, -12px -12px 23px #ffffff;
}

.start-game-btn:active {
  border-radius: 12px;
  background: #e0e0e0;
  box-shadow: inset 12px 12px 23px #969696, inset -12px -12px 23px #ffffff;
}

.btn-pressed {
  border-radius: 12px;
  background: #e0e0e0;
  box-shadow: inset 12px 12px 23px #969696, inset -12px -12px 23px #ffffff;
  cursor: not-allowed;
}